MAGENTO_HOST_SOURCE=../
MAGENTO_ROOT=/var/www/magento
MAGENTO_RUN_MODE=developer
PHP_MEMORY_LIMIT=768M
PHP_ENABLE_XDEBUG=false
DEBUG=false
VIRTUAL_HOST=magento.docker
MYSQL_ROOT_PASSWORD=magento2
MYSQL_DATABASE=magento2
MYSQL_USER=magento2
MYSQL_PASSWORD=magento2
REDIS_PORT=6379
COMPOSER_GITHUB_TOKEN=0000000000000000000000000000000000000000
COMPOSER_MAGENTO_USERNAME=00000000000000000000000000000000
COMPOSER_MAGENTO_PASSWORD=00000000000000000000000000000000

### Docker compose files ##################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use laradock to have separate containers per project.
COMPOSE_PROJECT_NAME=laradock

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.laradock/data

### Docker Sync ###########################################

# If you are using Docker Sync. For `osx` use 'native_osx', for `windows` use 'unison', for `linux` docker-sync is not required
DOCKER_SYNC_STRATEGY=native_osx
